@font-face {
    font-family: "HelveticaNeueLTProLt";
    src: url(../fonts/HelveticaNeueLTProLt.woff) format("woff");
  }
@font-face {
    font-family: "HelveticaNeueLTProMd";
    src: url(../fonts/HelveticaNeueLTProMd.woff) format("woff");
  }
@font-face {
    font-family: "HelveticaNeueLTProRoman";
    src: url(../fonts/HelveticaNeueLTProRoman.woff) format("woff");
  }
@font-face {
    font-family: "Merriweather-LightItalic";
    src: url(../fonts/Merriweather-LightItalic.woff) format("woff");
  }
@font-face {
    font-family: "Montserrat-Light";
    src: url(../fonts/Montserrat-Light.woff) format("woff");
  }
@font-face {
    font-family: "Montserrat-Regular";
    src: url(../fonts/Montserrat-Regular.woff) format("woff");
  }
@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.woff) format("woff");
  }

  /* font-family: "HelveticaNeueLTProLt", sans-serif;
     font-family: "HelveticaNeueLTProMd" ;
     font-family: "HelveticaNeueLTProRoman" ;
     font-family: "Merriweather-LightItalic" ;
     font-family: "Montserrat-Light" ;
     font-family: "Montserrat-Regular" ;
     font-family: "Roboto-Regular" ;
   */

  h1 {font-family: "Montserrat-Light", sans-serif;}

  *{
    box-sizing: border-box;
  }
  body{
    padding: 0;
    margin: 0;
  }
  .container{
    width: 1200px;
    padding: 0;
    margin: 0 auto;
  }
  .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu__item a {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #989696;
    text-decoration: none;
    margin-right: 43px;
  }

  .menu__item:last-child a{
    margin-right: 0;
  }

  .active a, .menu__item a:hover{
    color: #010101;
  }
  .logo{
    margin: 0, 16px;
  }
  .header__content {
    text-align: center;
  }
  .header__title {
    font-family: "HelveticaNeueLTProLt", sans-serif;
    font-size: 44px;
    line-height: 41px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #1d1e1f;
    margin: 207px auto 4px;
  }
  .header__text {
    font-family: "Merriweather-LightItalic", serif;
    font-size: 16px;
    line-height: 17px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.03em;
    color: #898888;
    margin: 0 auto 43px;
  }
  .header__button {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #000000;
    text-decoration: none;
    width: 188px;
    height: 57px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 206px;
    transition: all .3s ease-in;
  }
  
  .header__button:hover{
    background-color: #000000;
    color: #fff;

  }
   /* О нас */
  .about {
    padding-bottom: 271;
    background-color: #1d1d1d;
    padding-top: 128px;
    padding-bottom: 271px;
    background: url(../images/buildings__black_3164.png) center 101% repeat-x,
                url(../images/buildings__white_3165.png) center 101% repeat-x,
                #1d1d1d;
    background-size: contain contain;
  }
  .about__inner {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
    justify-content: center;
    gap: 178px;
    place-content: center center;
  }
  .about__item {
    width: 417px;   
    height: 276px;
    background-color: #181818;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
  .about__year {
    font-family: "HelveticaNeueLTProLt", sans-serif  ;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #fff;
  }
  .about__text {
    font-family: "Montserrat-Light", sans-serif  ;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #b7b7b7;
  }
  
  /* Команда */

  .team {
    height: 745px;
  }
  .block_head {
    text-align: center;
  }
  .block__title {
    font-family: 'HelveticaNeueLTProLt';
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #1d1e1f;
    margin: 0;
    padding-top: 138px;
    margin-bottom: 13px;
  }
  .block__text {
    font-family: Merriweather;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.02em;
    color: #898888;
    margin: 0;
  }
  .team__inner {
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    justify-content: space-between;
    padding-top: 127px;
  }
  .team__item {
    text-align: center;
  }
  .team__item-img {
    object-fit: cover;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-bottom: 29px;
  }
  .team__item-title {
    font-family: 'HelveticaNeueLTProMd';
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #464646;
    margin: 0;
    margin-bottom: 7px;
  }
  .team__item-text {
    font-family: 'HelveticaNeueLTProMd';
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #b3b3b3;
    margin: 0;
    margin-bottom: 7px;
  }
  .team__icon-box a {
    font-size: 20px;
    color: #e4e4e4;
    text-decoration: none;
    transition: .02s;
  }

  .team__icon-box a:hover{
    color: #949494;
  }

  /* Сервисы */

  .services{
    background-color: #181818;
    height: 900px;
  }

  .services_head {
    text-align: center;
  }
  .services__title {
    font-family: 'HelveticaNeueLTProLt';
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 0;
    padding-top: 138px;
    margin-bottom: 13px;
    
  }
  .services__text {
    font-family: Merriweather;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #777777;
    margin: 0;
    margin-bottom: 13px;
  }
  .services__inner {
   
    display: flex;
    justify-content: space-between;
    padding-top: 127px;
  }
  .services__item {
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;

  }
  .services__item-img {
    object-fit: cover;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-bottom: 29px;
  }
  .services__item-title {
    font-family: 'HelveticaNeueLTProLt';
    font-size: 26px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #fff;
    margin: 0;
    margin-top: 43px;
  }
  .services__item-text {
    font-family: 'HelveticaNeueLTProLt';
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #383838;
    margin: 0 auto;
    margin-top: 31px;
    
  }
.circle{
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 170px;
  height: 170px;
  border: 4px solid #ffffff;
  border-radius: 50%;
}
  .icon-heart, .icon-chart-bar, .icon-upload-cloud-outline{
    margin: 0 auto;
    color: white;
    font-size: 64px;
  }

